<form action="/figures" method="POST">

  <h1>Create a New Landmark</h1>
  <br>

  <label><h3>Name:</h3></label>
  <input type="text" id="landmark_name" name="landmark[name]">
  <br><br>

  <label><h3>Year Completed:</h3></label>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]">
  <br><br>

  <label><h3>Figures:</h3></label>
  <%@figures.each do |figure|%>
  <label><%= figure.name%></label>
  <input type="checkbox" name="landmark[figure_ids][]" id="figure_<%= figure.id %>" value="<%=figure.id%>"></input>
  <br>
  <%end%>
  <label>Or Create a New Figure:</label>
  <input type="text" name="figure[name]" id="figure">
  <br>

  <label><h3>Titles:</h3></label>
  <br>
  <%@titles.each do |title|%>
  <lable><%= title.name%></lable>
  <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%=title.id%>"></input>
  <br>
  <%end%>
  <label>Or Create a New Title:</label>
  <input type="text" name="title[name]" id="new_title">
  <br><br>

  <input type="submit" value="Create New Landmark">

</form>